.carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 200px;
  align-items: center;
}

.carousel-images-container {
  display: flex;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 2000px;
  justify-content: space-around;
  position: absolute;
}

.carousel-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.scroll-1 {
  animation-name: scroll1;
}

@keyframes scroll1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}

.scroll-2 {
  animation-name: scroll2;
}

@keyframes scroll2 {
  0% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0%);
  }
}
